<!DOCTYPE html>

<html>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito de Compras</title>
        <link rel="stylesheet" href="{%static 'style.css' %}">
    </head>
    <body class="d1">
        <header>
            <div class="caja">
                <h1><img class= "logo" src="{% static 'imotos/logo-header-black.jpg' %}"></h1>
                <nav>
                    <ul>
                        <li><a href="/motos/index">Home</a></li>
                        <li><a href="/motos/productos">Productos</a></li>
                        <li><a href="/motos/contacto">Contacto</a></li>
                        <li><a href="/motos/carrito"> <img class="carrito" src="{%static 'imotos/anadir-al-carrito.png' %}"> </a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="contactoc">
            <form>
                <label for="nombreapellido">Nombre y Apellido</label>
                <input type="text" id="nombreapellido" class="input-padron" required>

                <label for="correoelectronico">Correo electrónico</label>
                <input type="email" id="correoelectronico" class="input-padron" required placeholder="email@dominio.com">

                <label for="telefono">Teléfono</label>
                <input type="tel" id="telefono" class="input-padron" required placeholder="(XX) XXXX XXXX">

                <label for="mensaje">Mensaje</label>
                <textarea cols="70" rows="10" id="mensaje" class="input-padron"></textarea>

                <fieldset>
                    <legend>¿Cómo le gustaría que lo contactemos?</legend>

                <label for="radio-email"><input type="radio" name="contacto" value="email" id="radio-email">Email</label>
                

                <label for="radio-telefono"><input type="radio" name="contacto" value="telefono" id="radio-telefono">Teléfono</label>
                

                <label for="radio-whatsapp"><input type="radio" name="contacto" value="whatsapp" id="radio-whatsapp"checked> WhatsApp</label>
                
                </fieldset>

                <fieldset>
                    <legend>¿En cuál horario prefiere ser atendido?</legend>
                    <select>
                        <option>Mañana</option>
                        <option>Tarde</option>
                        <option>Noche</option>
                    </select>
                </fieldset>
                

                <label class="checkbox"><input type="checkbox"checked>¿Le gustaría recibir novedades sobre Yamaha Motos?</label>

                

                <input type="submit" value="Enviar formulario" class="enviar">
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Día</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lunes</td>
                        <td>08h ~ 20h</td>
                    </tr>
                    <tr>
                        <td>Miércoles</td>
                        <td>08h ~ 20h</td>
                    </tr><tr>
                        <td>Viernes</td>
                        <td>08h ~ 20h</td>
                    </tr>
                </tbody>
                
            </table>
        </main>
        <footer>
            <img src="imotos/logo-header-black.jpg" alt="Logo de Harry's Motos">
            <p class="Copyright">&copyCopyright Harry's Motos 2024</p>
        </footer>
    </body>


</html>