<!DOCTYPE html>

<html>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito de Compras</title>
        <link rel="stylesheet" href="{%static 'style.css' %}">
    </head>
    <body class="d1">
        <header>
            <div class="caja">
                <h1><img class= "logo" src="{% static 'imotos/logo-header-black.jpg' %}"></h1>
                <nav>
                    <ul>
                        <li><a href="/motos/index">Home</a></li>
                        <li><a href="/motos/productos">Productos</a></li>
                        <li><a href="/motos/contacto">Contacto</a></li>
                        <li><a href="/motos/carrito"> <img class="carrito" src="{%static 'imotos/anadir-al-carrito.png' %}"> </a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <ul class="productos">
                <li>
                    <h2>YAMAHA R3A</h2>
                    <img class= "r7" src="{% static 'imotos/R3A-2022-2-2.jpg' %}"> 
                    <p class="producto-descripcion">Potente motor bicilíndrico en línea de 321 cc.</p>
                    <p class="producto-precio">$ 5.990.000</p>
                    <a href="/motos/carrito"><button class="add-to-cart-btn"> Comprar</button></a>
                    
                </li>
                <li>
                    <h2>YAMAHA R7</h2>
                    <img class= "r7" src="{% static 'imotos/r7_azul-750x519.jpg' %}">
                    <p class="producto-descripcion">700cc, Motor CP2 de alto torque</p>
                    <p class="producto-precio">$ 10.490.000</p>
                    <a href="/motos/carrito"><button class="add-to-cart-btn">Comprar</button></a>
                    
                </li>
                <li>
                    <h2>YAMAHA R1</h2>
                    <img class= "r7" src="{% static 'imotos/r1_negra.jpg' %}">
                    <p class="producto-descripcion">Potente motor con cigüeñal crossplane de 4 cilindros, multivalvular con 200 hp de potencia máxima.</p>
                    <p class="producto-precio">$ 22.490.000</p>
                    <a href="/motos/carrito"><button class="add-to-cart-btn">Comprar</button></a>
                    
                </li>
            </ul>
        </main>
        {% include 'footer.html' %}
    </body>


</html>