<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Bienvenido a la Tienda</title>
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="{%static 'style-tienda.css' %}">
    
</head>
<body>
    
    <header>
        <div class="caja">
            <h1><img class= "logo" src="{% static 'imotos/logo-header-black.jpg' %}"></h1>
            <nav>
                <ul>
                    <li><a href="/motos/index">Home</a></li>
                    <li><a href="/motos/productos">Productos</a></li>
                    <li><a href="/motos/contacto">Contacto</a></li>
                    <li><a href="/motos/carrito"> <img class="carrito" src="{%static 'imotos/anadir-al-carrito.png' %}"> </a></li>
                </ul>
            </nav>
        </div>
    </header>
    

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row" style="padding: 10px 0;">
                    <div class="col-12">
                        <div class="row">
                            {% for producto in productos %}
                            <div class="col-6">
                                <div class="card" style="height: 20rem; width: 23rem; margin: 5px 0px;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{producto.modelo}}</h5>
                                        <img src="{% static 'imotos/' %}{{ producto.imagen }}" class="r7" alt="{{ producto.modelo }}">
                                        <p class="card-text">{{producto.cilindrada}}</p>
                                        <p class="card-text">$ {{producto.precio}}</p>
                                        <a href="{% url 'Add' producto.id %}" class="btn btn-primary"> Agregar al carrito</a>
                                    </div> 
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                {% include "carrito.html" %}
            </div>
        </div>
    </div> 
    <section class="modal1" id="mod1">
        <div class="modal__container">
            <img src="{% static 'imotos/check.png' %}" class="modal__img">
            <h2 class="modal__title">¡Felicidades por tu elección! Serás redirigido al portal de pago.</h2>
            <a href="#" class="modal__close">Cerrar</a>
        </div>
    </section>   
    
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    {% include 'footer.html' %}
</body>
</html>